

body{
    background-color:rgb(226, 173, 99);
    text-align:center
}
iframe{
    margin-left: 0 auto;
}
h2{
    color:black;
    font-optical-sizing: auto;
    .emblema-one-regular {
        font-family: "Emblema One", system-ui;
        font-weight: 400;
        font-style: normal;
      }
      -webkit-text-fill-color: saddlebrown;
      -webkit-text-stroke: 1px;
  }
h1 {
    text-align: center;
    color:black;
    font-optical-sizing: auto;
    .emblema-one-regular {
        font-family: "Emblema One", system-ui;
        font-weight: 400;
        font-style: normal;
}
p{
    font-family:'Courier New', Courier, monospace
}
li{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
header {
    text-align: center;
    background: url('images/background.jpeg');
    background-size: cover;
    color: white;
    padding: 20px 0px 0px 0px;
  }
article {
    margin: 0 auto;
    max-width: 500px;
    padding: 20px;
}
.special{
    display: inline;
    padding: 0px 10px 0px 10px;
    color: white;
}
img{
    border-radius:20px;
    border: 7px solid black ;
    width:350px;
    height:auto;
}
ul{
    padding: 10px;
}
li{
    display:inline;
    padding: 0px 10px 0px 10px;
}
